@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-karla
}

.navbar-fixed {
    @apply fixed z-[9999] pb-8 bg-gradient-to-b from-white to-transparent ;
    backdrop-filter: blur(1px);
    /* box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1); */
}

.navbar-fixed li a {
    @apply text-sky-500
}

.hamburger-line {
    @apply w-[36px] h-[4px] rounded my-2 block bg-teal-200
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.btn {
    @apply py-4 px-8 rounded-full shadow uppercase text-sm font-semibold
}

.tiny-slide {
    user-select: none;
}

@media (max-width: 480px) {
    #home {
        background-image: url(../dist/img/hero-section-mobile.png);
    }
}

@media (min-width: 481px) and (max-width: 1025px) {
    #home {
        background-image: url(../dist/img/hero-section.png);
    }
}

@media (min-width: 1026px) and (max-width: 1700px) {
    #home {
        background-image: url(../dist/img/hero-section-xl.png);
    }
}
